*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}
/* #endregion_general */

/* #region_utilities */
.container{
    width: 70%;
    margin: auto;
}

.flex{
    display: flex;
}

.txt_center{
    text-align: center;
}
/* #endregion_utilities */

/* app_header */

#app_header::after{
    content: "";
    display: table;
    clear: both;
}

#app_header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.app_nav{
    justify-content: space-between;
    padding: 1rem;
}


.menu{
    justify-content: center;
    padding: 0.5rem 0;
}

a{
    text-decoration: none;
    color: white;
}

.login{
    background-color: white;
    border-radius: 20px;
    justify-content: flex-end;
    padding: 0.75rem 0.75rem;
    border: 0;
    
}

/* /app_header */


/* heading */

.heading{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#hero_p{
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    font-weight:700;
}

.download_button{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
}
.white_button{
    background-color: white;
    border-radius: 20px;
    padding: 0.75rem 1.25rem;
    border: 0;
    font-size: 1rem;
}

.open_button{
    background-color: #23272a;
    border-radius: 20px;
    padding: 0.75rem 1.25rem;
    border: 0;
    font-size: 1rem;
    color: white;
    margin-left: 1rem;
}

/* /heading */

/* app_main */

.card{
    margin-top: 10rem;
}


.text{
    margin: 3rem 0;
    width: 40%;
}

h1{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
}

h2{
    width: 65%;
    font-size: 1.75rem;
}

.card_p{
    width: 65%;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.text.talk{
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 1rem;
}

.text.fandom{
    margin-left: 8rem;
}

.text.meet{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image.meet{
    margin: 4rem 0;
}

#text_meet{
    width: 70%;
}
.main_section_bg{
    background-color: lightgray;
}

.pre_footer{
    
    margin: 1rem 0;
    width: 100%;
    margin-bottom: 8rem;
}

#pre-footer{
    background-color: lightgray;
}

#pre_footer_title{
    text-align: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#pre_footer_p{
    text-align: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

#adventure{
    text-align: center;
    margin-top: 3rem;
    background-image: url("../img/stars.svg");
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-repeat: no-repeat;
    width: 40%;
}

.light_blue_button{
    background-color: #8ea1e1;
    border-radius: 20px;
    padding: 0.75rem 1.25rem;
    border: 0;
    font-size: 1rem;
    color: white;
    margin: auto;
    margin-top: 2rem;
}

.app_footer{
    background-color: #23272a;
}

.footer_l{
    margin: 1rem 0;
    width: calc(100% / 3);
}

.footer_r{
    margin: 1rem 0;
    width: calc(100% / 4 - 1.5rem);
    margin-left: 0.25rem;
    color: white;
    line-height: 2rem;
}

#footer_title{
    color: #6f86d5;
    width: 80%;
}

ul{
    list-style: none;
    
}

li{
    margin: 0 1rem;
}

.li_title{
    color: #6f86d5;
}

.italy{
    margin-top: 1rem;
}

.language{
    color: white;
    margin-left: 0.5rem;
    font-size: 0.75rem;
}

hr{
    color: white;
    margin-top: 1rem;
}

.page_end{
    margin-top: 2rem;
    padding: 0.75rem 0;
    justify-content: space-between;

}

.logo_end{
    padding: 0.5rem 0;
}

.register_button{
    background-color: #8ea1e1;
    border-radius: 20px;
    padding: 0.75rem 1.25rem;
    border: 0;
    font-size: 1rem;
    color: white;
    margin: auto;
}
